* {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body  { 
    background-color: #161616;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    width: 640px;
}
.chatBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
    border-radius: 99999px;
    background-color: #242424;
}
.numInput {
    padding: 9px 18px;
    font-size: 18px;
    background-color: #242424;
}
.line {
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
    height: 1px;
    border-radius: 99999px;
    background-color: #444444;
}